<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlockJobs</title>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="styles.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
    <!-- update the version number as needed -->


  </head>

  <body>
    <div class="dashboard-hero">

    </div>
    <div class="dashboardmain">
      <div class="dashboardcontainer w-container">
        <h1 class="dashh1">Blockgigz</h1>
        <h2 class="dashboardh2">Find jobs to help you start your career in blockchain technology</h2>
      </div>
    </div>

    <div>{{{body}}}</div>



  <div class="background-section">
    <div class="wrapper w-container">
      <div class="footer-v5">
        <div class="footer-v5-nav-list">
          <a href="index.html"><h6 class="footer-v5-header">Home</h6></a>
        </div>

        <div class="footer-v5-nav-list">
          <a href="jobpost.html"><h6 class="footer-v5-header">Post a Job</h6></a>

        </div>

        <div class="footer-bottom-v1 fb1b">
          <p class="footerlegal">  & copy 2018 Blockgigz </p>
        </div>
      </div>
    </div>
  </div>



  </body>
</html>
